# Dependencies
node_modules/
package-lock.json

# Debug & Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# OS Files
.DS_Store
Thumbs.db

# Puppeteer/Chrome artifacts
.local-chromium/
screenshots/
*.png

# Environment
.env
.env.local